/* COLOR SCHEME
----------------------------------------------------*/

:root {
  --background-color: rgb(45, 45, 45);
  --background-color-70: rgba(45, 45, 45, 0.7);
  --background-color-50: rgba(45, 45, 45, 0.5);
  --background-color-30: rgba(45, 45, 45, 0.3);
  --background-low-contrast: rgb(42, 42, 42);
  --background-contrast: rgb(35, 35, 35);
  --text: #dfdfdf;
  --link: #1EAEDB;
  --link-hover: #0FA0CE;
  --main-gradient: linear-gradient(to top right, #ff5933 0%, #00ffe7 100%);
}

/* COMMON
----------------------------------------------------*/

HTML {
  min-height: 100%;
}

body {
  transition-duration: 0.25s;
  background-color: var(--background-color);
  color: var(--text);
}

a {
  color: var(--link);
}

a:hover {
  color: var(--link-hover);
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 2rem;
}

button {
  border-radius: 0;
  color: var(--text);
  border-color: var(--text);
  opacity: 0.6;
}

button:hover {
  color: var(--text);
  border-color: var(--text);
  opacity: 1;
}

header.separatorborder {
    background-color: var(--background-color);
    padding-bottom: 50px;
    padding-top: 20px;
    margin: 0;
}

header.separator::before {
    background-color: transparent;
}

.separator {
    position: relative;
    margin-bottom: 1em;
    padding-bottom: 1em;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

.separator::before {
    content: '';
    position: absolute;
    top: 70%;
    left: 50%;
    width: 240px;
    height: 2px;
    background-color: var(--text);
    transform: translateX(-50%);
  }

.border.separator::before {
    display: none;
    content: '';
    position: absolute;
    top: 0%;
    left: 0%;
    width: 0px;
    height: 0px;
    background-color: var(--text);
    transform: translateX(-50%);
  }

  .separator.border {
      padding: 1em;
      width: max-content;
      margin-left: auto;
      margin-right: auto;
      border: 3px var(--text) solid;
  }

  .contrast:not(.low) {
    background-color: var(--background-contrast);
  }

  .contrast.low {
    background-color: var(--background-low-contrast);
  }

  .container {
    padding-top: 10px;
  }

/* TITLE
----------------------------------------------------*/

  .title {
    text-align: center;
    margin: 0;
    padding: 110px 0 110px 0;
    height: 80px;
    color: #222;
  }

  .title.separator::before {
    background-color: #222;
  }

/* THEME TOGGLE
----------------------------------------------------*/

.theme-toggle {
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 20px;
  cursor: pointer;
  user-select: none;
  z-index: 1000;
}

/* HEADER WAVES
----------------------------------------------------*/

.waves {
  width: 100%;
  height: calc(50px + 5vw);
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% {
    transform: translate3d(85px,0,0);
  }
}
