/* COLOR SCHEME
----------------------------------------------------*/

:root {
  --background-color: rgb(255, 255, 255);
  --background-color-70: rgba(255, 255, 255, 0.7);
  --background-color-50: rgba(255, 255, 255, 0.5);
  --background-color-30: rgba(255, 255, 255, 0.3);
  --background-low-contrast: rgb(249, 249, 249);
  --background-contrast: rgb(244, 244, 244);
  --text: #222;
  --link: #1EAEDB;
  --link-hover: #0FA0CE;
}

/* COMMON
----------------------------------------------------*/

HTML {
  min-height: 100%;
}

body {
  transition-duration: 0.25s;
  background-color: var(--background-color);
  color: var(--text);
}

button, button:hover, button:focus {
  color: var(--text);
}

a {
  color: var(--link);
}

a:hover {
  color: var(--link-hover);
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 2rem;
}

header.separatorborder {
    background-color: var(--background-color);
    padding-bottom: 50px;
    padding-top: 20px;
    margin: 0;
}

header.separator::before {
    background-color: transparent;
}

.separator {
    position: relative;
    margin-bottom: 1em;
    padding-bottom: 1em;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

.separator::before {
    content: '';
    position: absolute;
    top: 70%;
    left: 50%;
    width: 240px;
    height: 2px;
    background-color: var(--text);
    transform: translateX(-50%);
  }

.border.separator::before {
    display: none;
    content: '';
    position: absolute;
    top: 0%;
    left: 0%;
    width: 0px;
    height: 0px;
    background-color: var(--text);
    transform: translateX(-50%);
  }

  .separator.border {
      padding: 1em;
      width: max-content;
      margin-left: auto;
      margin-right: auto;
      border: 3px var(--text) solid;
  }

  .contrast:not(.low) {
    background-color: var(--background-contrast);
  }

  .contrast.low {
    background-color: var(--background-low-contrast);
  }

  .container {
    padding-top: 10px;
  }

  button.chip {
    border-radius: 19px;
    border-color: transparent;
    background-color: var(--background-low-contrast);
  }

  button.chip:hover {
    background-color: var(--background-contrast);
  }

  button.chip.selected {
    background-color: var(--background-contrast);
  }

  .skill {
    width: 64px;
    float: left;
    margin: 5px;
    cursor: pointer;
  }

  .skill > img {
    width: 64px;
    height: 64px;
  }

  .skill > p {
    margin: 0;
    text-align: center;
    height: 80px;
    overflow: hidden;
  }
/* TITLE
----------------------------------------------------*/

  .title {
    text-align: center;
    margin: 0;
    padding: 110px 0 110px 0;
    height: 80px;
    color: #222;
  }

  .title.separator::before {
    background-color: #222;
  }

/* THEME TOGGLE
----------------------------------------------------*/

.theme-toggle {
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 20px;
  cursor: pointer;
  user-select: none;
  z-index: 1000;
}
