:root {
  --serverlist-column-count: 1;
  /* --- background colors --- */
  --background-color: rgba(0, 0, 0, 0);
  --background-image: url();
  --background-image-opacity: .3;
  --background-image-blur: 0;
  --color-accent: #7289da;
  --color-accent-hover: #6478bd;
  --color-main: rgba(125, 125, 125, 0.3);
  --color-main-hover: rgba(125, 125, 125, 0.5);
  /* --- text colors --- */
  --color-serverlist-text: rgba(255, 255, 255, 0.5);
  --color-serverlist-text-hover: rgba(255, 255, 255, 0.75);
  --color-serverlist-text-muted: rgba(125, 125, 125, 0.4);
  --color-chat-text: rgba(255, 255, 255, 0.5);
  --color-chat-text-link: #0096cf;
  --color-chat-text-muted: rgba(125, 125, 125, 0.4);
  --color-text-main: rgba(255, 255, 255, 0.75);
  --color-text-secondary: rgba(255, 255, 255, 0.5);
  /* --- divider colors --- */
  --color-text-big-divider: rgba(255, 255, 255, 0.75);
  --color-divider: rgba(0, 0, 0, 0);
  --color-big-divider: rgba(0, 0, 0, 0)
}

body {
  background-color: var(--background-color)
}

body::after {
  content: "";
  background: var(--background-image);
  opacity: var(--background-image-opacity);
  background-size: cover;
  background-position: center;
  top: calc(-1 * var(--background-image-blur));
  left: calc(-1 * var(--background-image-blur));
  bottom: calc(-1 * var(--background-image-blur));
  right: calc(-1 * var(--background-image-blur));
  position: absolute;
  z-index: -1;
  filter: blur(var(--background-image-blur))
}

* {
  box-shadow: none !important;
}

  /* --- REMOVE BACKGROUNDS --- */

.appMount-3lHmkl,
.layer-3QrUeG,
.layers-3iHuyZ,
.container-2lgZY8,
.guildsWrapper-5TJh6A,
.channels-Ie2l6A,
.chat-3bRxxu,
.chat-3bRxxu form,
.content-yTz4x3,
.container-PNkimc,
.messagesWrapper-3lZDfY,
.title-3qD0b-,
.members-1998pB,
.container-2Thooq,
.standardSidebarView-3F1I7i,
.contentRegion-3nDuYy,
.sidebarRegion-VFTUkN,
.guildsAdd-21_IdK,
.activityFeed-28jde9,
.gameLibrary-TTDw4Y,
.headerBar-UHpsPw,
.header-39GIC8,
.applicationStore-1pNvnv,
.container-3gCOGc,
.searchBar-2_Yu-C,
.theme-dark .root-1BQpZw,
.container-1UB9sr,
.typing-2GQL18,
.body-SKIE6r,
.header-1RC2Wb,
.article-3kb3qm,
.mediaFade-1SdEfL,
.description-3rB3Rp,
.tileMedia-24cT6_ {
  background: 0 !important;
  background-color: transparent !important;
}

  /* --- CHANGE BACKGROUNDS --- */

.theme-dark .embedInner-1-fpTo,
.theme-dark .inner-zqa7da,
.theme-dark .search-2oPWTC .searchBar-3dMhjb,
.searchBar-2_Yu-C .searchBarInner-1_Tg2R,
.channel-2QD9_O.selected-1HYmZZ a,
.theme-dark .cardPrimaryOutline-29Ujqw,
.theme-dark .codeRedemptionRedirect-1wVR4b,
.theme-dark .wrapper-35wsBm,
.theme-dark .card-7JP0BX,
.carousel-2WxMes,
.applicationTile-1Goy1W,
.tileMedia-1q3guD {
  background: var(--color-main) !important;
  background-color: var(--color-main) !important;
}

.contentConnectedVoice-qL-YrL:active,
.contentHoveredText-2D9B-x,
.contentHoveredVoice-3p_NEO:active,
.contentSelectedVoice-1WDIBM:active,
.theme-dark .member-3W1lQa:hover .content-OzHfo4,
.channel-2QD9_O.selected-1HYmZZ a,
.channel-2QD9_O:hover a,
.theme-dark .card-FDVird:before,
.theme-dark .friendsTable-133bsv .friendsRow-2yicud:hover,
.theme-dark .topPill-30KHOu .item-PXvHYJ:hover:not(.itemSelected-1qLhcL):not(.primary-3j8BhM),
.rowWrapperActive-2L7i9f {
  background: var(--color-main-hover) !important;
  background-color: var(--color-main-hover) !important;
}

.itemBackground-2vEldQ:before {
  background: radial-gradient(ellipse at top,rgba(54,57,63,0),var(--color-main)),
              linear-gradient(90deg,var(--color-main) 0,rgba(54,57,63,0) 40%,rgba(54,57,63,0) 60%,var(--color-main)),
              linear-gradient(0deg,var(--color-main) 0,rgba(54,57,63,0) 25%) !important;
}

  /* --- REMOVE BORDERS --- */

  .theme-dark .embedInner-1-fpTo,
  .theme-dark .cardPrimary-1Hv-to,
  .theme-dark .cardPrimaryEditable-3KtE4g,
  .theme-dark .codeRedemptionRedirect-1wVR4b,
  .connectionHeader-2MDqhu,
  .integration-3kMeY4,
  .theme-dark .accountBtnInner-sj5jLs,
  .theme-dark .select-2TCrqx .Select-control,
  .theme-dark .userSettingsVoice-iwdUCU .previewOverlay-2O7_KC,
  .theme-dark .container-1nZlH6,
  .theme-dark .bda-slist li,
  .searchBar-2_Yu-C .searchBarInner-1_Tg2R,
  .theme-dark .markup-2BOw-j pre,
  .theme-dark .input-cIJ7To,
  .theme-dark .input-cIJ7To:hover,
  .theme-dark .status-2s6iDp,
  .theme-dark .status-2kJpnA,
  .theme-light .status-2kJpnA,
  .theme-dark .card-FDVird:before,
  .theme-dark .cardPrimaryOutline-29Ujqw,
  .channel-2QD9_O.selected-1HYmZZ .status-1ibiUI,
  .channel-2QD9_O .status-1ibiUI,
  .theme-dark .wrapper-35wsBm,
  .container-1UB9sr,
  .player-1kJMbj,
  .distributionApplicationsActions-3D2_kD,
  .premiumApplicationsHeader-Zmkm5e {
    border-color: transparent !important;
  }

  /* --- REMOVE DIVIDERS --- */

  .theme-dark .divider-3573oO,
  .theme-dark .guildSeparator-1X4GQ1:after,
  .sectionLine-JjseS9 {
    background: 0 !important;
    background-color: transparent !important;
  }

  .theme-dark #bd-settingspane-container .ui-switch-item .style-description,
  .theme-dark .bda-slist .bda-header,
  .theme-dark .bda-slist .bda-footer,
  .theme-dark .bottomSeparator-3cIFah,
  .theme-dark .headerText-2niCs_ {
    border-color: transparent !important;
  }

  /* --- CHANGE DIVIDERS --- */

.theme-dark .divider-3gKybi:not(.dividerRed-MKoLlr) .dividerContent-2L12VI:after,
.theme-dark .divider-3gKybi:not(.dividerRed-MKoLlr) .dividerContent-2L12VI:before {
  border-color: var(--color-big-divider);
}

.theme-dark .dividerEnabled-2TTlcf {
  border-color: var(--color-divider);
}

.theme-dark .divider-3gKybi:not(.dividerRed-MKoLlr) .dividerContent-2L12VI {
  color: var(--color-text-big-divider);
}

  /* --- CHANGE ACCENT COLORS --- */

  .side-8zPYf6 .itemSelected-1qLhcL,
  .lookFilled-1Gx00P.colorBrand-3pXr91,
  .themeDefault-24hCdX.valueChecked-m-4IJZ,
  .barFill-23-gu-,
  .cardPrimaryEditable-3KtE4g[style*="rgb(114, 137, 218)"],
  .selected-mKYnfr.option-n0icdO,
  .theme-dark #bd-settings-sidebar .ui-tab-bar-item.selected,
  #bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch.checked,
  .bd-pfbtn,
  .bda-slist .bda-footer button,
  .tabBar-1E2ExX .primary-3j8BhM {
    background-color: var(--color-accent) !important;
  }

  .lookFilled-1Gx00P.colorBrand-3pXr91:hover,
  .option-n0icdO:hover {
    background-color: var(--color-accent-hover);
  }

  .lookOutlined-3sRXeN.colorBrand-3pXr91,
  .wrapper-3jrx9n {
    color: var(--color-accent);
    border-color: var(--color-accent)
  }

  .lookOutlined-3sRXeN.colorBrand-3pXr91:hover {
    color: var(--color-accent);
    border-color: var(--color-accent-hover)
  }

  .guild-1EfMGQ:hover .guildInner-3DSoA4 {
    background-color: var(--color-accent) !important;
    border-radius: 15px !important
  }

  .guild-1EfMGQ .guildInner-3DSoA4 {
    background-color: #2f3136 !important;
    border-radius: 25px !important;
    transition-duration: .3s
  }

  .guild-1EfMGQ.selected-ML3OIq .guildInner-3DSoA4 {
    background-color: var(--color-accent) !important;
    border-radius: 15px !important
  }

  .foreground-2aE44H {
    stroke: var(--color-accent);
  }

  /* --- CHANGE SCROLLERS --- */

[class*=scrollerWrap-] [class*=scroller-]::-webkit-scrollbar-track-piece {
  border: 3px solid transparent !important;
  background-color: rgba(0, 0, 0, 0) !important
}

[class*=scrollerWrap-] [class*=scroller-]::-webkit-scrollbar-thumb {
  background-color: var(--color-main) !important;
  border: 3px solid transparent !important
}

[class*=scrollerWrap-] [class*=scroller-]::-webkit-scrollbar-thumb:active,
[class*=channels-] [class*=contentSelectedText-] {
  background-color: var(--color-main-hover) !important
}

  /* --- CHANGE SIZES --- */

.splashPlaceholder-1ev-9c {
  height: 220px;
}

.splash-3K76bN {
  width: 70%;
  margin: 0 auto;
}
