[class*="separator"],
[class*="divider"],
[class*="divider"]:before,
[class*="divider"]:after {
  background-color: transparent !important;
  border-color: transparent !important;
  background: 0 !important;
}

* {
  border-color: transparent !important;
  box-shadow: none !important;
}
