:root {
  --serverlist-column-count: 2;
}

.item-2hkk8m {
  background: 0 !important;
  background-color: 0 !important;
}

.scrollerWrap-1IAIlv,
.wrapper-1Rf91z {
  width: calc(56px * var(--serverlist-column-count) + 8px);
}

.listItem-2P_4kh {
  margin-left: 8px;
  justify-content: left;
  float: left;
  width: 48px;
}

.listItem-2P_4kh:nth-child(2) {
  display: none !important;
}
