div[class*="embed-"] div[class*="embedInner-"] div[class*="embedVideo-"] a[class*="imageWrapper-"] img {
  width: 100% !important;
  height: 100% !important;
}
div[class*="embed-"] div[class*="embedInner-"] div[class*="embedVideo-"] a[class*="imageWrapper-"] {
  width: 640px !important;
  height: 360px !important;
}
div[class*="embed-"] div[class*="embedInner-"] div[class*="embedVideo-"] {
  width: 640px !important;
  height: 360px !important;
}
div[class*="embed-"] div[class*="embedInner-"] div[class*="embedVideo-"] iframe {
  width: 100% !important;
  height: 100% !important;
}
div[class*="embed-"] {
  max-width: 100% !important;
}
