:root {
/* Server Channel List Text Settings */
--color-channel-text: rgba(255, 255, 255, 0.5);
--color-channel-text-selected: rgba(255, 255, 255, 0.9);
--color-channel-text-hover: rgba(255, 255, 255, 0.75);
--color-channel-text-muted: rgba(125, 125, 125, 0.4);
/* Chat Text Settings */
--color-chat-text: rgba(255, 255, 255, 0.85);
--color-chat-text-link: #1dbcf9;
/* Friends Text */
--color-friend-text: rgba(255, 255, 255, 0.6);
--color-friend-text-hover: rgba(255, 255, 255, 1);
}

.nameDefaultText-24KCy5, .nameDefaultVoice-3WUH7s, .nameLockedText-3pqQcL, .nameLockedVoice-26MhB1 {
  color: var(--color-channel-text);
}

.nameConnectedText-3CzNQn, .nameConnectedVoice-MHUX5F, .nameSelectedText-sp_EUw, .nameSelectedVoice-1qSph5 {
  color: var(--color-channel-text-selected);
}

.nameHoveredText-1uO31y {
  color: var(--color-channel-text-hover);
}

.nameMutedText-3Vj4bM, .nameMutedVoice-3oxyQZ {
  color: var(--color-channel-text-muted);
}

.theme-dark .embedDescription-1Cuq9a, .theme-dark .embedFieldValue-nELq2s,
.theme-dark .embedFooterText-28V_Wb, .theme-dark .embedProvider-3k5pfl,
.theme-dark .markup-2BOw-j {
  color: var(--color-chat-text);
}

.theme-dark .markup-2BOw-j a {
  color: var(--color-chat-text-link);
}

.name-2WpE7M {
  color: var(--color-friend-text);
}

.channel-2QD9_O:hover .name-2WpE7M {
  color: var(--color-friend-text-hover);
}
