.embed-IeVjo6.embedFull-2tM8--[style="border-color: rgb(255, 0, 0); max-width: 432px;"] {
  max-width: 670px !important;
  width: 100% !important;
}
.embed-IeVjo6.embedFull-2tM8--[style="border-color: rgb(255, 0, 0); max-width: 432px;"] .embedVideo-3nf0O9 {
  width: 640px !important;
  height: 360px !important;
}
