:root {
  --serverlist-column-count: 2;
}

[class*="guildsWrapper-"] {
  width: calc(58px * var(--serverlist-column-count) + 20px);
}

[class*="guildsWrapper-"]>.scroller-wrap {
  width: calc(58px * var(--serverlist-column-count) + 38px);
}
[class*="guildsWrapper-"]>.scroller-wrap>[class*="guilds-"]>[class*="guild-"] {
  float: left;
  margin: 4px;
}
[class*="guildsWrapper-"]>.scroller-wrap>[class*="guilds-"]>[class*="friendsOnline-"] {
  float: left;
  width: calc(58px * var(--serverlist-column-count));
}
[class*="guildsWrapper-"]>.scroller-wrap>[class*="guilds-"]>[class*="guildSeparator-"] {
  float: left;
  width: calc(58px * var(--serverlist-column-count));
}
[class*="guildsWrapper-"]>.scroller-wrap>[class*="guilds-"]>div[class*="guild-"]:first-of-type {
  margin: 0 calc(4px + 29px * (var(--serverlist-column-count) - 1));
}
[class*="guildsWrapper-"]>.scroller-wrap>[class*="guilds-"]>[class*="guild-"]#bd-pub-li {
  margin: 5px calc(31px * (var(--serverlist-column-count) - 1));
}
[class*="guildsWrapper-"]>.scroller-wrap>[class*="guilds-"]>[class*="guild-"][class*="selected-"]::before {
  background: rgba(0, 0, 0, 0) !important;
}
[class*="guildsWrapper-"]>.scroller-wrap>[class*="guilds-"] button {
  margin: 8px 8px 0 0;
}
[class*="guild-"][class*="unread-"]:before {
  background: #f44336 !important;
  top: 42px;
  left: 35px;
  z-index: 20;
  height: 15px;
  width: 15px;
  border-radius: 7.5px;
  content: "!";
  color: white;
  text-align: center;
  font-size: 13px;
  font-family: 'Open Sans';
}
