:root {
  --serverlist-column-count: 1;
  /* --- background colors --- */
  --background-color: rgba(0, 0, 0, 0);
  --background-image: url();
  --background-image-opacity: .3;
  --background-image-blur: 0;
  --color-accent: #7289da;
  --color-main: rgba(125, 125, 125, 0.3);
  --color-main-hover: rgba(125, 125, 125, 0.5);
  /* --- text colors --- */
  --color-serverlist-text: rgba(255, 255, 255, 0.5);
  --color-serverlist-text-hover: rgba(255, 255, 255, 0.75);
  --color-serverlist-text-muted: rgba(125, 125, 125, 0.4);
  --color-chat-text: rgba(255, 255, 255, 0.5);
  --color-chat-text-link: #0096cf;
  --color-chat-text-muted: rgba(125, 125, 125, 0.4);
  --color-text-main: rgba(255, 255, 255, 0.75);
  --color-text-secondary: rgba(255, 255, 255, 0.5);
  /* --- divider colors --- */
  --color-text-big-divider: rgba(255, 255, 255, 0.75);
  --color-divider: rgba(0, 0, 0, 0);
  --color-big-divider: rgba(0, 0, 0, 0)
}

body {
  background-color: var(--background-color)
}

body::after {
  content: "";
  background: var(--background-image);
  opacity: var(--background-image-opacity);
  background-size: cover;
  background-position: center;
  top: calc(-1 * var(--background-image-blur));
  left: calc(-1 * var(--background-image-blur));
  bottom: calc(-1 * var(--background-image-blur));
  right: calc(-1 * var(--background-image-blur));
  position: absolute;
  z-index: -1;
  filter: blur(var(--background-image-blur))
}

* {
  box-shadow: none !important;
}

  /* --- REMOVE BACKGROUNDS --- */

.appMount-3lHmkl,
.theme-dark .layer-3QrUeG,
.theme-dark .layers-3iHuyZ,
.container-2lgZY8,
.theme-dark .guildsWrapper-5TJh6A,
.channels-Ie2l6A,
.theme-dark .chat-3bRxxu,
.theme-dark .chat-3bRxxu form,
.theme-dark .content-yTz4x3,
.container-PNkimc,
.theme-dark .messagesWrapper-3lZDfY,
.theme-dark .title-3qD0b-,
.theme-dark .members-1998pB,
.theme-dark .container-2Thooq,
.theme-light .container-2Thooq,
.theme-dark .standardSidebarView-3F1I7i,
.theme-dark .contentRegion-3nDuYy,
.theme-dark .sidebarRegion-VFTUkN,
.theme-dark .guildsAdd-21_IdK,
.theme-dark .activityFeed-28jde9,
.theme-dark .gameLibrary-TTDw4Y,
.theme-dark .headerBar-UHpsPw,
.theme-dark .header-39GIC8,
.theme-dark .applicationStore-1pNvnv,
.theme-dark .container-3gCOGc,
.searchBar-2_Yu-C,
.theme-dark .root-1BQpZw,
.container-1UB9sr {
  background: 0 !important;
  background-color: transparent !important;
}

  /* --- CHANGE BACKGROUNDS --- */

.theme-dark .embedInner-1-fpTo,
.theme-dark .inner-zqa7da,
.theme-dark .search-2oPWTC .searchBar-3dMhjb,
.searchBar-2_Yu-C .searchBarInner-1_Tg2R,
.channel-2QD9_O.selected-1HYmZZ a,
.theme-dark .cardPrimaryOutline-29Ujqw,
.theme-dark .codeRedemptionRedirect-1wVR4b,
.theme-dark .wrapper-35wsBm {
  background: var(--color-main) !important;
  background-color: var(--color-main) !important;
}

.contentConnectedVoice-qL-YrL:active,
.contentHoveredText-2D9B-x,
.contentHoveredVoice-3p_NEO:active,
.contentSelectedVoice-1WDIBM:active,
.theme-dark .member-3W1lQa:hover .content-OzHfo4,
.channel-2QD9_O.selected-1HYmZZ a,
.channel-2QD9_O:hover a,
.theme-dark .card-FDVird:before {
  background: var(--color-main-hover) !important;
  background-color: var(--color-main-hover) !important;
}

  /* --- REMOVE BORDERS --- */

  .theme-dark .embedInner-1-fpTo,
  .theme-dark .cardPrimary-1Hv-to,
  .theme-dark .cardPrimaryEditable-3KtE4g,
  .theme-dark .codeRedemptionRedirect-1wVR4b,
  .connectionHeader-2MDqhu,
  .integration-3kMeY4,
  .theme-dark .accountBtnInner-sj5jLs,
  .theme-dark .select-2TCrqx .Select-control,
  .theme-dark .userSettingsVoice-iwdUCU .previewOverlay-2O7_KC,
  .theme-dark .container-1nZlH6,
  .theme-dark .bda-slist li,
  .searchBar-2_Yu-C .searchBarInner-1_Tg2R,
  .theme-dark .markup-2BOw-j pre,
  .theme-dark .input-cIJ7To,
  .theme-dark .input-cIJ7To:hover,
  .theme-dark .status-2s6iDp,
  .theme-dark .status-2kJpnA,
  .theme-light .status-2kJpnA,
  .theme-dark .card-FDVird:before,
  .theme-dark .cardPrimaryOutline-29Ujqw,
  .channel-2QD9_O.selected-1HYmZZ .status-1ibiUI,
  .channel-2QD9_O .status-1ibiUI,
  .theme-dark .wrapper-35wsBm {
    border-color: transparent !important;
  }

  /* --- REMOVE DIVIDERS --- */

  .theme-dark .divider-3573oO,
  .theme-dark .guildSeparator-1X4GQ1:after {
    background: 0 !important;
    background-color: transparent !important;
  }

  .theme-dark #bd-settingspane-container .ui-switch-item .style-description,
  .theme-dark .bda-slist .bda-header,
  .theme-dark .bda-slist .bda-footer {
    border: 0 !important;
  }

  /* --- CHANGE DIVIDERS --- */

.theme-dark .divider-3gKybi:not(.dividerRed-MKoLlr) .dividerContent-2L12VI:after,
.theme-dark .divider-3gKybi:not(.dividerRed-MKoLlr) .dividerContent-2L12VI:before {
  border-color: var(--color-big-divider);
}

.theme-dark .dividerEnabled-2TTlcf {
  border-color: var(--color-divider);
}

.theme-dark .divider-3gKybi:not(.dividerRed-MKoLlr) .dividerContent-2L12VI {
  color: var(--color-text-big-divider);
}

  /* --- CHANGE SCROLLERS --- */

[class*=scrollerWrap-] [class*=scroller-]::-webkit-scrollbar-track-piece {
  border: 3px solid transparent !important;
  background-color: rgba(0, 0, 0, 0) !important
}

[class*=scrollerWrap-] [class*=scroller-]::-webkit-scrollbar-thumb {
  background-color: var(--color-main) !important;
  border: 3px solid transparent !important
}

[class*=scrollerWrap-] [class*=scroller-]::-webkit-scrollbar-thumb:active,
[class*=channels-] [class*=contentSelectedText-] {
  background-color: var(--color-main-hover) !important
}
