.layer-3QrUeG.animating {
  will-change: transform,opacity;
}

.layer-3QrUeG {
  transform: none !important;
  transition: all 150ms ease-in-out;
}

.layer-3QrUeG.animating-rRxada {
  transform: none !important;
}

.layer-3QrUeG.stop-animations:first-of-type {
  transform: scale(0.5) !important;
  opacity: 0 !important;
}

.layer-3QrUeG + .layer-3QrUeG {
  transform: scale(2) !important;
  opacity: 0 !important;
  transition: all 150ms ease-in-out, opacity 150ms ease-in-out;
}

.layer-3QrUeG.stop-animations ~ .layer-3QrUeG {
  transform: none !important;
  opacity: 1 !important;
  animation: openSettings 150ms ease-in-out;
}

@keyframes openSettings {
  0% {
    transform: scale(2);
    opacity: 0;
  }
}
