/* COLOR SCHEME
----------------------------------------------------*/

:root {
  --background-color: rgb(45, 45, 45);
  --background-color-70: rgba(45, 45, 45, 0.7);
  --background-color-50: rgba(45, 45, 45, 0.5);
  --background-color-30: rgba(45, 45, 45, 0.3);
  --background-low-contrast: rgb(42, 42, 42);
  --background-contrast: rgb(38, 38, 38);
  --table-border: #3E3E3E;
  --text: #dfdfdf;
  --link: #1EAEDB;
  --link-hover: #0FA0CE;
  --main-gradient: linear-gradient(to top right, #ff5933 0%, #00ffe7 100%);
}

/* COMMON
----------------------------------------------------*/

HTML {
  min-height: 100%;
}

body {
  transition-duration: 0.25s;
  background-color: var(--background-color);
  color: var(--text);
  font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
  max-width: 962px;
  padding: 5px;
  padding-top: 10px;
}

button, button:hover, button:focus {
  color: var(--text);
}

a {
  color: var(--link);
}

a:hover {
  color: var(--link-hover);
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 2rem;
}

header.separatorborder {
    background-color: var(--background-color);
    padding-bottom: 50px;
    padding-top: 20px;
    margin: 0;
}

header.separator::before {
    background-color: transparent;
}

.separator {
    position: relative;
    margin-bottom: 1em;
    padding-bottom: 1em;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

.separator::before {
    content: '';
    position: absolute;
    top: 70%;
    left: 50%;
    width: 240px;
    height: 2px;
    background-color: var(--text);
    transform: translateX(-50%);
  }

.border.separator::before {
    display: none;
    content: '';
    position: absolute;
    top: 0%;
    left: 0%;
    width: 0px;
    height: 0px;
    background-color: var(--text);
    transform: translateX(-50%);
  }

  .separator.border {
      padding: 1em;
      width: max-content;
      margin-left: auto;
      margin-right: auto;
      border: 3px var(--text) solid;
  }

  .contrast:not(.low) {
    background-color: var(--background-contrast);
  }

  .contrast.low {
    background-color: var(--background-low-contrast);
  }

  /* CHIP
  ----------------------------------------------------*/

  button.chip {
    border-radius: 0;
    border-color: transparent;
    background-color: var(--background-contrast);
    display: inline-flex;
    align-items: center; 
    margin: 0 1px 6px 0;
    font-weight: normal;
    /* border: 2px solid transparent; */
  }

  button.chip::before {
    display: inline-block;
    position: relative;
    content:' ';
    background-image: url('../img/checkbox-blank.svg');
    background-size: 24px 24px;
    height: 24px;
    width: 24px;
    right: 13px;
  }

  button.chip:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  button.chip.\31 {
    border-color: #459539;
  }

  button.chip.\31::before {
    display: inline-block;
    position: relative;
    content:' ';
    background-image: url('../img/checkbox-on.svg');
    background-size: 24px 24px;
    height: 24px;
    width: 24px;
    right: 13px;
  }

  button.chip.\32 {
    border-color: #FF000082;
  }

  button.chip.\32::before {
    display: inline-block;
    position: relative;
    content:' ';
    background-image: url('../img/checkbox-off.svg');
    background-size: 24px 24px;
    height: 24px;
    width: 24px;
    right: 13px;
  }

  input.chip {
    border-radius: 0;
    border-color: transparent;
    background-color: var(--background-contrast);
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    width: 520px;
    /* margin: 20px 200px 0; */
    border: 0;
    font-weight: lighter;
    margin-top: 20px;
    margin-bottom: 0px;
    display: flex;
    flex-grow: 1;
    max-width: 520px;
  }

  input.chip:focus {
    outline: none;
  }

  /* SKILL TOGGLES SECTION
  ----------------------------------------------------*/
  .collapsible > h5 {
    margin: 0;
    padding: 10px 5px;
    user-select: none;
    transition-duration: 0.15s;
  }

  .container.collapsible {
    margin-top: 10px;
    padding-bottom: 10px;
    background: var(--background-low-contrast);
    border: 2px solid var(--background-contrast);
  }

  /* SKILL TOGGLES
  ----------------------------------------------------*/

  .toggles {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    overflow: hidden;
    transition-duration: 0.15s;
  }

  .toggles > * {
    flex: 0 1 140px;
    margin: 2px !important;
  }

  /* mobile */
  .toggles > * {
    flex: 1 1 210px;
  }

  h5 {
    text-align: center;
  }

  /* desktop */
  @media (min-width: 550px) {
    .toggles > * {
      flex: 0 1 140px;
    }
    
    h5 {
      text-align: left;
    }
  }

/* SKILL
----------------------------------------------------*/

  #skilllist {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(72px, 1fr));
  }

  .skill {
    display: flex;
    flex-direction: column;
    margin: 5px;
    cursor: pointer;
    color: var(--text);
    text-decoration: none;
    animation-name: skillFadeIn;
    animation-duration: 0.3s;
    animation-timing-function: cubic-bezier(.45,.05,.55,.95);
  }

  .skill:hover {
    color: var(--text);
  }

  .skill > img {
    width: 64px;
    height: 64px;
    align-self: center;
  }

  .skill > p {
    margin: 0 -5px;
    text-align: center;
    height: 80px;
    overflow: hidden;
    word-break: break-word;
    padding-top: 8px;
  }

  th, td {
    border-bottom-color: var(--table-border);
  }

  @keyframes skillFadeIn {
    from {
      transform: translateY(-7px);
      opacity: 0.5;
    }
    to {
      transform: translateY(0px);
      opacity: 1;
    }
  }

/* TITLE
----------------------------------------------------*/

  .title {
    text-align: center;
    margin: 0;
    padding: 110px 0 110px 0;
    height: 80px;
    color: #222;
    font-weight: normal;
  }

  .title.separator::before {
    background-color: #222;
  }

/* THEME TOGGLE
----------------------------------------------------*/

.theme-toggle {
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 20px;
  cursor: pointer;
  user-select: none;
  z-index: 1000;
}

/* BACK TO LANDING PAGE
----------------------------------------------------*/

.go-back {
  position: absolute;
  left: 0;
  top: 0;
  padding: 20px;
  cursor: pointer;
  user-select: none;
  z-index: 1000;
  color: #222;
  font-size: large;
  text-decoration: none;
  display: flex;
}

.go-back:hover {
  color: #222;
}

.go-back img {
  display: flex;
  padding-right: 10px;
}

/* REFRESH BUTTON
----------------------------------------------------*/

.refresh-toggle {
  position: fixed;
  display: flex;
  background: var(--background-contrast);
  right: 0px;
  bottom: 0px;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  user-select: none;
  z-index: 1000;
  border-radius: 0;
}

.refresh-toggle > h6 {
  margin: 0;
  padding-right: 5px;
  font-size: 19px;
}

.refresh-toggle > img {
  padding-right: 5px;
}

/* SKILL MENU
----------------------------------------------------*/

#skillMenu {
  position: absolute;
  width: 285px;
  background-color: var(--background-color);
  display: none;
  animation-name: contextmenu;
  animation-duration: 0.1s;
  animation-timing-function: ease-in-out;
  border-radius: 2px;
  box-shadow: 0 8px 10px 1px
  rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px
  rgba(0,0,0,0.2);
  overflow: hidden;
  z-index: 1;
}

#skillMenu td {
  padding: 12px !important;
}

#skillMenu #skillMenuName {
  background: var(--background-contrast);
}

#skillMenu td {
  text-align: center;
}

#skillMenu td > img {
  vertical-align: middle;
  margin-right: 10px;
  margin-bottom: 2px;
}

#skillMenu > table {
  border-spacing: 0px;
}

#skillMenu tr:last-child > td {
  border-bottom-width: 0px;
}

/* FOOTER
----------------------------------------------------*/

#footer {
  background-color: var(--background-contrast);
  padding: 40px;
  text-align: center;
  font-size: 1.6rem;
  margin: 0;
  width: 100%;
  max-width: 100%;

  /* mobile */
  padding-bottom: 80px;
}

@media (min-width: 550px) {
  #footer {
    padding: 40px;
  }
}