//META{"name":"AQtun's Multicolumn serverlist","description":"for people with too many servers","author":"AQtun81","version":"0.1"}*//

:root {
  --serverlist-column-count: 2;
}

div[class*="guildsWrapper-"] {
  width: calc(50px * var(--serverlist-column-count) + 20px);
}

div[class*="guildsWrapper-"] .scroller-wrap {
  width: calc(50px * var(--serverlist-column-count) + 38px);
}
div[class*="guildsWrapper-"] .scroller-wrap div[class*="guilds-"] div[class*="guild-"] {
  float: left;
  margin: 0;
}
div[class*="guildsWrapper-"] .scroller-wrap div[class*="guilds-"] div[class*="friendsOnline-"] {
  float: left;
  width: calc(50px * var(--serverlist-column-count));
}
div[class*="guildsWrapper-"] .scroller-wrap div[class*="guilds-"] div[class*="guildSeparator-"] {
  float: left;
  width: calc(50px * var(--serverlist-column-count));
}
div[class*="guildsWrapper-"] .scroller-wrap div[class*="guilds-"] div[class*="guild-"]:first-of-type {
  margin: 0 calc(25px * (var(--serverlist-column-count) - 1));
}
div[class*="guildsWrapper-"] .scroller-wrap div[class*="guilds-"] [class*="guild-"][class*="selected-"]::before {
  background: rgba(0, 0, 0, 0) !important;
}
