/* COLOR SCHEME
----------------------------------------------------*/

:root {
  --background-color: #fffb;
  --background-color-popup: #fff;
  --icon-color: #000;
  --background-low-contrast: rgb(249, 249, 249);
  --background-contrast: rgb(244, 244, 244);
  --table-border: #e1e1e1;
  --text: #222;
  --text-low-contrast: #333;
  --text-contrast: #555;
  --link: #1EAEDB;
  --link-hover: #0FA0CE;
  --background: linear-gradient(to top right, #949bfd 0%, #cff 100%);
  --background-image-blur: 0px;
  --background-image-saturation: 100%;
  --background-image-hue: 0deg;
  --background-image-contrast: 100%;
  --background-image-brightness: 100%;
}

/* COMMON
----------------------------------------------------*/

HTML {
  min-height: 100%;
}

body {
  background-color: var(--background-color);
  color: var(--text);
  font-family: "Maven Pro", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  color: var(--link);
}

a:hover {
  color: var(--link-hover);
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 2rem;
}

input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"], textarea, select {
  background-color: var(--background-contrast);
  border: var(--background-low-contrast);
}

.button:hover, button:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover, .button:focus, button:focus, input[type="submit"]:focus, input[type="reset"]:focus, input[type="button"]:focus {
  color: var(--text-low) !important;
}

.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
  color: var(--text-low-contrast) !important;
}

input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="text"]:focus, input[type="tel"]:focus, input[type="url"]:focus, input[type="password"]:focus, textarea:focus, select:focus {
  border: none;
}

th, td {
  border-bottom-color: var(--table-border);
}

tbody > tr:last-of-type > td {
  border-bottom: 1px solid #00000000;
}

.separator {
    position: relative;
    margin-bottom: 1em;
    padding-bottom: 1em;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

.separator::before {
    content: '';
    position: absolute;
    top: 70%;
    left: 50%;
    width: 240px;
    height: 2px;
    background-color: var(--text);
    transform: translateX(-50%);
  }

.border.separator::before {
    display: none;
    content: '';
    position: absolute;
    top: 0%;
    left: 0%;
    width: 0px;
    height: 0px;
    background-color: var(--text);
    transform: translateX(-50%);
  }

  .separator.border {
      padding: 1em;
      width: max-content;
      margin-left: auto;
      margin-right: auto;
      border: 3px var(--text) solid;
  }

  .contrast:not(.low) {
    background-color: var(--background-contrast);
  }

  .contrast.low {
    background-color: var(--background-low-contrast);
  }

  .container {
    padding-top: 10px;
  }

  input[type=range] {
      -webkit-appearance: none;
      -moz-apperance: none;
      border-radius: 5px;
      height: 30px;
      width: calc(100% - 90px);
      background: var(--background-contrast);
      margin-bottom: 5px;
  }

  input[type="range"]::-moz-range-track {
      border: none;
      background: none;
      outline: none;
  }

  input[type=range]:focus {
      outline: none;
      border: none;
  }

  input[type=range]::-webkit-slider-thumb {
      -webkit-appearance: none !important;
      background-color: transparent;
      height: 14px;
      width: 14px;
      border-radius: 7px;
  }

  input[type=range]::-moz-range-thumb {
      -moz-appearance: none !important;
      background-color: transparent;
      border: none;
      height: 14px;
      width: 14px;
      border-radius: 7px;
  }

  input[type=range] + span {
    display: inline-block;
    position: absolute;
    width: 60px;
    color: var(--text);
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    background: var(--background-contrast);
    padding: 5px 10px;
    margin-left: 10px;
    user-select: none;
  }

  input[type=range] + span:after {
    position: absolute;
    top: 8px;
    left: -7px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 7px solid var(--background-contrast);
    border-bottom: 7px solid transparent;
    content: "";
  }

/* TOGGLES
----------------------------------------------------*/

.toggle {
  position: fixed;
  right: 0px;
  top: 0px;
  padding: 20px;
  cursor: pointer;
  user-select: none;
  z-index: 1000;
  transition-duration: .15s;
}

.toggle:hover {
  z-index: 999;
}

.toggle#settingsButton {
  padding-bottom: 10px;
}

.toggle#settingsButton:hover {
  transform: scale(2) translateY(-2px);
}

.toggle#addButton {
  padding-top: 10px;
  top: 54px;
}

.toggle#addButton:hover {
  transform: scale(2) translateY(2px);
}

.toggle#closeAddButton:hover, .toggle#closeSettingsButton:hover, .toggle#closeRemoveButton:hover, .toggle#closeEditButton:hover {
  transform: scale(2);
}

/* SPEEDDIAL BACKGROUND
----------------------------------------------------*/

body {
  background-color: Rgb(0, 0, 0);
  /*background: linear-gradient(to top right, #949bfd 0%, #cff 100%);*/
  overflow-x: hidden;
  background-repeat: no-repeat;
  background-size: cover;
}

body::before {
    content: "";
    position: fixed;
    left: calc(-1 * var(--background-image-blur));
    top: calc(-1 * var(--background-image-blur));
    right: calc(-1 * var(--background-image-blur));
    bottom: calc(-1 * var(--background-image-blur));
    z-index: -1;
    display: block;
    background: var(--background);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(var(--background-image-blur)) saturate(var(--background-image-saturation)) hue-rotate(var(--background-image-hue)) contrast(var(--background-image-contrast)) brightness(var(--background-image-brightness));
}


/* SPEEDDIAL MENUS
----------------------------------------------------*/

@keyframes openMenu {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes closeMenu {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

.menu {
  position: fixed;
  background: var(--background-color-popup);
  width: 560px;
  height: 260px;
  padding: 20px;
  left: calc(50% - 300px);
  top: calc(50% - 150px);
  border-radius: 5px;
  box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
  animation-fill-mode: forwards;
  animation-name: closeMenu;
  animation-duration: 0s;
  animation-timing-function: ease;
}

.menu h5 {
  margin-top: 0;
  text-transform: uppercase;
}

.menu#remove {
  height: 100px;
  top: calc(50% - 70px);
}

.menu#remove button {
  float: right;
}

@keyframes openSettings {
  0% {
    transform: translateX(-960px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes closeSettings {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-960px);
  }
}

.menu#settings {
  height: 100%;
  left: 0px;
  top: 0px;
  width: 50%;
  max-width: 920px;
  border-radius: 0px;
  animation-name: closeSettings;
}

.rangeMargin {
  height: 24px;
  margin: 0 0 10px 10px;
  width: calc(48% - 10px);
}


/* WEBSITE TILES
----------------------------------------------------*/

#websites {
  display: flex;
  flex-flow: wrap;
  padding: 0 50px;
  margin: 0 auto;
  width: 370px;
  padding-top: 75px;
}

@media screen and (max-width: 470px) { #websites { width: 370px; } }
@media screen and (min-width: 840px) { #websites { width: 740px; } }
@media screen and (min-width: 1210px) { #websites { width: 1110px;  } }
@media screen and (min-width: 1580px) { #websites { width: 1480px; } }
@media screen and (min-width: 1950px) { #websites { width: 1850px; } }
@media screen and (min-width: 2320px) { #websites { width: 2220px; } }
@media screen and (min-width: 2690px) { #websites { width: 2590px; } }
@media screen and (min-width: 3060px) { #websites { width: 2960px; } }
@media screen and (min-width: 3430px) { #websites { width: 3330px; } }

.tile {
  display: flex;
  width: 350px;
  height: 200px;
  background: var(--background-color);
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
}

.tile h4 {
  text-align: center;
  margin: auto;
  align-self: center;
}

.tile.image {
  background-image: url('img/logo/youtube.com.png');
  background-size: 100%;
}

.tile.image h4 {
  color: transparent;
  user-select: none;
}


/* CONTEXT MENU
----------------------------------------------------*/

#contextMenu {
  position: absolute;
  width: 185px;
  background-color: var(--background-color-popup);
  display: none;
  animation-name: contextmenu;
  animation-duration: 0.1s;
  animation-timing-function: ease-in-out;
  border-radius: 2px;
  box-shadow: 0 8px 10px 1px
  rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px
  rgba(0,0,0,0.2);
  overflow: hidden;
  z-index: 1;
}

#contextMenu td {
  padding: 12px !important;
  cursor: pointer;
}

#contextMenu td:hover {
  background: var(--background-contrast);
}

#contextMenu td > img {
  vertical-align: middle;
  margin-right: 10px;
  margin-bottom: 2px;
}

/* SEARCH
----------------------------------------------------*/

#searchBody {
  padding: 20px 0;
  margin: 0;
  height: 45px;
}

#search {
  margin: 0 auto;
  width: calc(100% - 128px);
  max-width: 770px;
  height: 45px;
  background: var(--background-color);
  border-radius: 10px;
  overflow: hidden;
  transition-duration: .2s;
}

#searchIcon {
  z-index: 500;
  user-select: none;
  float: right;
  padding: 10.5px;
  width: 24px;
  height: 24px;
}

#search input {
  float: left;
  width: calc(100% - 45px);
  height: 45px;
  background: transparent;
  border: 0;
  padding: 0;
  margin: 0;
  padding-left: 15px;
  font-size: 18px;
}

#search td {
  padding: 12px 15px;
  cursor: pointer;
}

#search td:not(td:first-of-type) {
  cursor: pointer;
}

.selected {
  background-color: var(--background-color-popup);
}
